doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=1024")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type="image/png", href="/images/icon.png")
    link(rel="stylesheet", 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO",
        crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css")
    script(src="/socket.io/socket.io.js")
    script(crossorigin="anonymous", 
        src="https://code.jquery.com/jquery-3.4.1.min.js",
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
        crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",
        crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",
        crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js")
    
    title="Virtual Deck - Play Anywhere with Anyone"
  body
    block content
    script.
        

  <body>
    <div id="screen" class="jumbotron jumbotron-fluid">
      <button id="reset_button" class="btn btn-danger reset_button" onclick="resetGame()"> Reset </button>
      <div id="main" class="container-fluid">
        <div id="playersArea" class="col-11">
          <h2 class="player_number" style="display:inline;">Players</h2>
          <div id="user_container"></div>
        </div>
        <div id="mainrow" class="row">
          <div id="playArea" class="col-4">
            <h2>Playing Area</h2>
          </div>
          <div class="col-7">
            <div id="mainDeck" class="row"></div>
            <div id="hand" class="row">
              <div class="col-12">
                <div id="hand_header">
                  <h2 style="vertical-align: middle;" class="d-inline-block" id="your_hand"> Your Hand </h2>  
                  <div id="cards_control" class="d-inline-block">
                    <button class = "d-inline-block btn btn-info" onclick = "sortCard()"> Sort </button>
                    <input  id="option_reorder" class ="d-inline-block" type="checkbox" data-toggle="toggle" 
                            data-width="90"
                            data-on="Reorder" 
                            onclick="drawHand()"
                            data-off="Play"/>
                  </div>
                </div>
                <div id="cardDisplay"></div>
                <div id="instruction">
                  To add more user to this room share this page URL with your friends! <br /><br />
                  After the game started and after the dealer give you cards: <br />
                  - Click on a card from your hand (this area) to play it. <br />
                  - Click on a card from the playing area to take it back to your hand (yaniv or if you did a mistake). <br />
                  - You can drag and drop a card from your hand to rearrange them by toggling the play/reorder switch <br />
                  - In pile mode, you can move the card from the pile to see them.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


